<div>
  <div>
    <h1 class="common-heading">
      <%= @the_course.name %>
      <a href="/courses/update_page/<%= @the_course.id %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
      </a>

      <a href="/delete_course/<%= @the_course.id %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
        </svg>

      </a>
    </h1>
  </div>
</div>

<div class="d-flex flex-row mb-3">
  <div class="p-2">
    <h5 class="common-text">
      <span class="badge rounded-pill text-bg-info">
        <a href="<%= @the_course.link %>" target="_blank">
          <p class="card-text">Canvas</p>
        </a>
      </span>
    </h5>

  </div>

  <div class="p-2">
    <h5 class="common-text">
      <span class="badge rounded-pill text-bg-light">
        <a href="<%= @the_course.oh_link %>" target="_blank">
          <p class="card-text">Office hour link</p>
        </a>
      </span>
    </h5>

  </div>

  <div class="p-2">
    <h5 class="common-text">
      <span class="badge rounded-pill text-bg-warning">
        <p class="card-text"><%= @the_course.prof_email %></p>
      </span>
    </h5>

  </div>

  <div class="p-2">
    <h5 class="common-text"> <span class="badge rounded-pill text-bg-dark"><%= @the_course.time.strftime('%A') %></span><br />

    </div>

  </div>

  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">
        <div class="card" style="height: 15rem;">
          <h5 class="card-header" style="background-color:maroon;font-family: Marker Felt, fantasy;color: #ffd803">Notes</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <div style="border-radius: 10px;">
                <li class="list-group-item">
                  <% latest_notes = @the_course.notes%>
                  <% latest_notes.each do |a_note| %>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" ><a href="/notes/<%= a_note.id %>">Note <%= a_note.id %>: <%= a_note.title %></a></li>
                    </ul>
                  <% end %>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <br />
        <div><a href="/insert_note_page" class="btn btn-outline-warning">Insert a note </a><br />

        </div>
      </div>

      <div class="col">
        <div class="col">
          <div class="card" style="height: 15rem;">
            <h5 class="card-header" style="background-color:maroon;font-family: Marker Felt, fantasy;color: #ffd803">Homeworks</h5>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <div style="border-radius: 10px;">
                  <li class="list-group-item">
                    <% latest_homeworks = @the_course.homeworks%>
                    <% latest_homeworks.each do |a_homework| %>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/homeworks/<%= a_homework.id %>">Homeworks <%= a_homework.id %></a></li>
                      </ul>
                    <% end %>
                  </li>
                </div>
              </ul>
            </div>
          </div>
          <br />
          <div><a href="/insert_homework_page" class="btn btn-outline-warning">Insert a homework </a><br />

          </div>

        </div>

      </div>
    </div>

    <br>
    <br>
    <br>

    <div>
      <div>
        <a href="/courses" class="fancy-button">
          Go back
        </a>
      </div>
    </div>

    <style>
      .fancy-button {
          white-space: normal;
          font-family: Comic Sans MS, Comic Sans, cursive;
          background-color:#ffd803;
          color: black;
          padding-bottom: 5px;
          padding-top: 1px;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 5px;
          border-top: 0.5rem solid maroon;
          box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
          -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
          }

          .fancy-button:hover {
            background-color: #faae2b;

          }

      .common-heading {
        font-family: Marker Felt, fantasy;
        color: black;
        font-size: 40px;
        text-align: left;
        line-height: 100px;
        }

        .common-text {
      font-family: Marker Felt, fantasy;
      color: black;
      font-size: 20px;
      text-align: left;
      }


      .common-box {
        border-radius: 30px;
        text-align: center;
        padding: 15px;
        background-color: #ffd803;
        font-family: Comic Sans MS, Comic Sans, cursive;
        width: 300px
        }


      .grey-text{
        color: grey;
        font-size: 0.8rem;
        font-style: italic;
      }
    </style>
