<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <nav>
      <% if current_user != nil %>
        <div class="topnav d-flex justify-content-between">
          <div>
            <a class="active" href="/">Main</a>
            <a href="/journals">Journals</a>
            <a href="/courses">Courses</a>
            <a href="/notes">Notes</a>
            <a href="/homeworks">Homework</a>
          </div>
          <div>
            <a href="/users/edit">Edit profile</a>
            <a href="/users/sign_out">Close the space</a>
          </div>
        </div>
      </nav>

    <% else %>

    <% end %>

    <%= yield %>

  </body>

  <style>
    .topnav {
      background-color: #F9F6F1;
      overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #020826;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: Comic Sans MS, Comic Sans, cursive;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: maroon;
      color: #ffd803;
      opacity: 80%;
    }

      body {
      margin-top: 0;
      margin-bottom: 60px;
      margin-right: 60px;
      margin-left: 60px;
      background-color: #F9F6F1;
      }
  </style>
</html>
