<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if current_user != nil %>
        <li>
          <a href="/users/sign_out">
            Sign out
          </a>
        </li>

        <li>
          <a href="/users/edit">
            Edit profile
          </a>
        </li>

        <nav>
          <li>
            <a href="/users">
              Main
            </a>
          </li>
        </nav>
        <nav>
          <li>
            <a href="/journals">
              Journals
            </a>
          </li>
        </nav>
        <nav>
          <li>
            <a href="/courses">
              Courses
            </a>
          </li>
        </nav>
        <nav>
          <li>
            <a href="/homeworks">
              Homeworks
            </a>
          </li>
        </nav>
        <nav>
          <li>
            <a href="/notes">
              Notes
            </a>
          </li>
        </nav>

      <% else %>
<!--       <li>
          <a href="/users/sign_in" class="fancy-button">
            Sign in
          </a>
        </li>
        <li>
          <a href="/users/sign_up">
            Sign up
          </a>
        </li>
-->      
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>

