<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <li>
        <a href="/users">
          Main
        </a>
      </li>
    </nav>
    <nav>
      <li>
        <a href="/journals">
          Journals
        </a>
      </li>
    </nav>
    <nav>
      <li>
        <a href="/courses">
          Courses
        </a>
      </li>
    </nav>
    <nav>
      <li>
        <a href="/homeworks">
          Homeworks
        </a>
      </li>
    </nav>
    <nav>
      <li>
        <a href="/notes">
          Notes
        </a>
      </li>
    </nav>

    <%= yield %>
  </body>
</html>
